In [1]:
print("I am a data scientist")

I am a data scientist

In [2]:
import sys
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

In [3]:
def frint(output):
    print(output)
print("Idris Mahmud")

Idris Mahmud

In [4]:
type(12)
type("Idris")
"Idris".upper()

'IDRIS'

In [5]:
int(3.14)

3

In [6]:
# Class Task
a = 2
b = 4
print((a+2*b)/3)

3.3333333333333335

In [7]:
Safiya = [43,"Female",2.78]
type(Safiya)
print(Safiya)
print(Safiya[-1])

print("My name is Safiya, I am {} years old and my height is {}cm".format(Safiya[0],Safiya[2]))

# MY name is Safiya, I'm 43 years old and my height is 2.78cm

[43, 'Female', 2.78]
2.78
My name is Safiya, I am 43 years old and my height is 2.78cm

In [8]:
# retrieving the first five elements
s = "Sunny Ade"
print(s[3:8])

ny Ad

In [9]:
print("Idris"*2)

IdrisIdris

In [10]:
# Creating a new function
def area_rectangle(l,b):
    area = l*b
    return area
area_rectangle(3,4)

12

In [11]:
def avg(a,b):
    average = (a+b)/2
    return average
avg(3,6)

4.5

In [12]:
int(avg(32,6))

19

In [14]:
# function to find if a ends in tion

In [17]:
blog = """Hadoop is a powerful open-source framework designed to manage and process large volumes of data across clusters of computers. Its fundamental function lies in addressing the challenges posed by big data, which encompasses massive amounts of information that traditional systems struggle to handle efficiently.
One key element of Hadoop is its distributed file system, known as HDFS (Hadoop Distributed File System). HDFS divides data into smaller chunks, replicates and distributes these across multiple machines within a cluster. This distribution enables parallel processing, allowing for faster data retrieval and analysis.
"""
print(blog)

Hadoop is a powerful open-source framework designed to manage and process large volumes of data across clusters of computers. Its fundamental function lies in addressing the challenges posed by big data, which encompasses massive amounts of information that traditional systems struggle to handle efficiently.
One key element of Hadoop is its distributed file system, known as HDFS (Hadoop Distributed File System). HDFS divides data into smaller chunks, replicates and distributes these across multiple machines within a cluster. This distribution enables parallel processing, allowing for faster data retrieval and analysis.

In [24]:
word_list = blog.split(" ")
print(word_list)

['Hadoop', 'is', 'a', 'powerful', 'open-source', 'framework', 'designed', 'to', 'manage', 'and', 'process', 'large', 'volumes', 'of', 'data', 'across', 'clusters', 'of', 'computers.', 'Its', 'fundamental', 'function', 'lies', 'in', 'addressing', 'the', 'challenges', 'posed', 'by', 'big', 'data,', 'which', 'encompasses', 'massive', 'amounts', 'of', 'information', 'that', 'traditional', 'systems', 'struggle', 'to', 'handle', 'efficiently.\nOne', 'key', 'element', 'of', 'Hadoop', 'is', 'its', 'distributed', 'file', 'system,', 'known', 'as', 'HDFS', '(Hadoop', 'Distributed', 'File', 'System).', 'HDFS', 'divides', 'data', 'into', 'smaller', 'chunks,', 'replicates', 'and', 'distributes', 'these', 'across', 'multiple', 'machines', 'within', 'a', 'cluster.', 'This', 'distribution', 'enables', 'parallel', 'processing,', 'allowing', 'for', 'faster', 'data', 'retrieval', 'and', 'analysis.\n']

In [ ]:
counter = 0
for word in word_list:
    if word.endswith("tion")==True:
        counter = counter+1
        
print(counter)

In [ ]:
max =20
for i in range(1,max+1):
    if i % 2 == 0:
        print(i)

In [ ]:
max =20
for i in range(1,max+1):
    if i % 2 == 1:
        print(i)

In [ ]:
max = 10
sum = 0
for num in range(1,max+1):
    sum = sum + num
    print(sum)

In [ ]:
max = 20
multiplication = 1
for num in range(1,max+1):
    multiplication = multiplication * num
    print(multiplication)

In [ ]:
number = 1234567
len(str(number))

In [ ]:
number = "abd23ced"
print("""alphs: 6
num: 2""")

In [ ]:
## Write a python program that counts the number of alphabets and integers in a string
idris = "idris1989male"
len(idris)
idris.split(" ")

In [ ]:
for i in range(1,10,2):
    print("Our value is ",i)

In [97]:
fac = 7
factorial = 1
for i in range(1,fac+1):
    factorial = factorial*i
print("The factorial of 5 is ",factorial)

The factorial of 5 is  5040

In [26]:
idris = "My name is Khan"
for i in idris:
    print(i)

M
y

n
a
m
e

i
s

K
h
a
n

In [33]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [44]:
f= ["Idris","Mahmud","Safiya","Amina","John","Asmau"]
for i in f:
    print(i[-1])

s
d
a
a
n
u

In [50]:
b = {"Idris","Male"}
for i in b:
    print(i)

Idris
Male

In [56]:
var = ["Name","Sex","Age","Height"]
obs1 = ["Mahmud","M",34,37.9]
obs2 = ["Asmau","F",26,34.6]
for i,j,k in zip(var,obs1,obs2):
    print(i,j,k)

Name Mahmud Asmau
Sex M F
Age 34 26
Height 37.9 34.6

In [61]:
var = ["Name","Sex","Age","Height"]
for i in var:
    print(i)
else:
    print("Done")

Name
Sex
Age
Height
Done

In [66]:
var = ["Name","Sex","Age","Height"]
val = [10,15,20,25,30]
for i in var:
    for j in val:
        print(i,j)

Name 10
Name 15
Name 20
Name 25
Name 30
Sex 10
Sex 15
Sex 20
Sex 25
Sex 30
Age 10
Age 15
Age 20
Age 25
Age 30
Height 10
Height 15
Height 20
Height 25
Height 30

In [78]:
var = ["Name","Sex","Age","Height"]
for i in var:
    if i == "Height":
        break
    print(i)

Name
Sex
Age

In [81]:
var = ["Name","Sex","Age","Height"]
for i in var:
    if i == "Age":
        continue
    print(i)

Name
Sex
Height

In [84]:
var = ["Name","Sex","Age","Height"]
count = 0
for n in var:
    count = count + 1
print(count)

4

In [86]:
len(var)

4

In [102]:
num = [23,56,45,34,67,4,5,34]
sum = 0
for n in num:
    sum = sum + n
print("The sum is ",sum)
print("The average is ",int(sum/n))

The sum is  268
The average is  7

In [121]:
num = [23,56,45,34,65,4,5,40,100]
for n in num:
    if n%5 == 0:
        print(n)

45
65
5
40
100

In [124]:
num = [23,56,45,34,65,4,5,40,100]
num2 = []
for n in num:
    num2.append(n)
print(num2)

[23, 56, 45, 34, 65, 4, 5, 40, 100]

In [135]:
num = [23,56,45,34,165,4,5,40,100]
max = 0
for n in num:
    if (n>max):
        max = n
print(max)

165

In [144]:
word = mahmud1234tk
alphabets = 0
digits = 0
for character in word:
    if character.is.alphabets():
        alphabets = alphabets + 1
    elif character.is.digits():
        digits = digits + 1
print("The number of alphabets is",alphabets)
print("The number of digits is",digits)

SyntaxError: invalid syntax (1561428734.py, line 5)

In [147]:
i = idris
print(i[-1])

n

In [153]:
countries = ["Nigeria","Ghana"]
capital = ["Abuja","Accra"]
for i in zip(countries,capital):
    print(i)

('Nigeria', 'Abuja')
('Ghana', 'Accra')

In [155]:
d = ("Idris",34,"M")
len(d)

3

In [156]:
blog = """Hadoop is a powerful open-source framework designed to manage and process
large volumes of data across clusters of computers. Its fundamental
function lies in addressing the challenges posed by big data, which
encompasses massive amounts of information that traditional systems 
struggle to handle efficiently.
One key element of Hadoop is its distributed file system,
known as HDFS (Hadoop Distributed File System).
HDFS divides data into smaller chunks, 
replicates and distributes these across multiple machines within a cluster.
This distribution enables parallel processing, allowing for faster data retrieval and analysis.
"""
word = process

SyntaxError: expected ':' (352696640.py, line 1)

In [158]:
sample_text = "We love python for data science. #python. Python"
word = "python"


def word_count(word,text):
    return text.lower().count(word)

word_count(word,sample_text)

3

In [163]:
sample_text = "We love python for data science. #python. Python"
words = ["python","data","."]
counter = []
def word_count(words,text):
    return text.lower().count(words)
for word in words:
    occurrence = word_count(word,sample_text)
    counter.append(occurrence)
list(zip(words,counter))

[('python', 3), ('data', 1), ('.', 2)]

In [ ]:
A = {2,4,6,8,5,5,3,6,34}